header h1 {
  text-align: center;
}

.sudoku {
  display: grid;
  grid-template-columns: 11% 11% 11% 11% 11% 11% 11% 11% 12%;
  width: 400px;
  margin: 10px auto;
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    appearance: none;
    margin: 0;
  }
  input[type="number"] {
    -moz-appearance: textfield;
  }
  border: 2px solid black;

  input {
    border: 1px dashed black;
    text-align: center;
    padding: 10px 10px;
    font-size: medium;
  }
}

button {
  display: block;
  margin: 0 auto;
  background-color: lightgreen;
  border: 0;
  padding: 10px 10px;
  width: 90%;
}

.buttons {
  margin: 0 auto;
  width: 400px;
  display: grid;
  grid-template-columns: 30% 40% 30%;
}

#blue {
  color: blue;
}

p {
  text-align: center;
  font-weight: bold;
}
